
#
# Configuration setting for ODriveApp:
#

cloud_host : r6202
cloud_tenant : demo
cloud_user : test
#cloud_password : whatever
#local_port : 6789
# max file size in bytes:
#max_file_size : 1073741824
#max_file_size : 1073741824
# max file size in gigabytes:
#max_file_size_giga : 4        # currently, not being processed ???

#
# log filenames must end with '.log'; otherwise, 'stdout' (default) or 'stderr':
#
#log_device : stdout
log_device : overdrive.log
log_level : debug

emit_url : false
emit_url_for_one_item : false

user_store : ./store/ODriveUserManagement.db

verbose : true

style : Foam
