
#content
  #generic-list
    %h3= @heading
    %p <strong><em>ODrive</em></strong> provides a simple web interface to an object-storage platform.
    %h4 Summary details for this object storage platform:
    %pre= @output
    %h4 Summary details for the <em>ODrive</em> application server:
    %pre= @output_odrive
