  
#content
  #index-area
    %h3= @heading
    %table(cellspacing='3')= @output
    %table
      %tr(align='left')
        %td &nbsp;
      %tr(align='left')
        %td
          %a(href='/web/containers') Containers
