
#content
  #generic-area
    %h3 Login
    %p 
    %p Existing users, please log in:
    %form{:action => '/login', :method => 'POST'}
      %table
        %tr
          %td
            %label{:for => 'userid'} User ID:
          %td
            %input{:type => 'text', :name => 'userid', :class => 'text'}
        %tr
          %td
            %label{:for => 'password'} Password:
          %td
            %input{:type => 'password', :name => 'password', :class => 'text'}
      %input{:type => 'submit', :value => 'Log in', :class => 'button'}
    %p New users, please <a href ='/register'>register</a>.
