
#content
  #generic-area
    %h3 Password Update
    %p 
    %form{:action => '/profile-pw', :method => 'POST'}
      %table
        %tr
          %td
            %label{:for => 'cur_password'} Current password:
          %td
            %input{:type => 'password', :name => 'cur_password', :class => 'text'}
        %tr
          %td
            %label{:for => 'new_password'} New password:
          %td
            %input{:type => 'password', :name => 'new_password', :class => 'text'}
        %tr
          %td
            %label{:for => 'new_password2'} Verify new password:
          %td
            %input{:type => 'password', :name => 'new_password2', :class => 'text'}
        %tr
          %td
            %input{:type => 'submit', :value => 'Update Password', :class => 'button'}
