
#content
  #generic-area
    %h3 User Profile Status
    %p 
    %table
      %tr
        %td= @output
    %table
      %tr(align='left')
        %td &nbsp;
      %tr(align='left')
        %td
          %a(href='/web/containers') Containers
