
#content
  #generic-area
    %h3 User Profile
    %p 
    %form{:action => '/profile', :method => 'POST'}
      %table
        %tr
          %td
            %label{:for => 'name'} Name:
          %td
            %input{:type => 'text', :name => 'name',
              :value => @user_for_profile.name, :class => 'text'}
        %tr
          %td
            %label{:for => 'password_hint'} Password Hint:
          %td
            %input{:type => 'text', :name => 'password_hint',
              :value => @user_for_profile.password_hint, :class => 'text'}
        %tr
          %td
            %label{:for => 'password'} Password (for Verification):
          %td
            %input{:type => 'password', :name => 'password', :class => 'text'}
        %tr
          %td
            %input{:type => 'submit', :value => 'Update Profile', :class => 'button'}
    %br
    %br
    %form{:action => '/profile-pw', :method => 'POST'}
      %table
        %tr
          %td
            %label{:for => 'cur_password'} Current Password:
          %td
            %input{:type => 'password', :name => 'cur_password', :class => 'text'}
        %tr
          %td
            %label{:for => 'new_password'} New Password:
          %td
            %input{:type => 'password', :name => 'new_password', :class => 'text'}
        %tr
          %td
            %label{:for => 'new_password2'} Verify New Password:
          %td
            %input{:type => 'password', :name => 'new_password2', :class => 'text'}
        %tr
          %td
            %input{:type => 'submit', :value => 'Update Password', :class => 'button'}
