
#content
  #generic-area
    %h3 Registration Status
    %p 
    %table
      %tr
        %td= @output
    %table
      %tr(align='left')
        %td &nbsp;
      %tr(align='left')
        %td
          %a(href='/login') Please log in to verify registration
